nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgreen;
  padding: 25px 25px;
  height: 80px;
}


main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 25px 25px;
}